p The left sidenav will 'lock open' on a medium (>=960px wide) device.
    p The right sidenav will focus on a specific child element.
    div
        md-button(ng-click="toggleLeft()", class="md-primary", hide-gt-md) Toggle left
    div
        md-button(ng-click="toggleRight()", ng-hide="isOpenRight()", class="md-primary") Toggle right