md-card
    md-card-title
        md-card-title-text
            span(class="md-headline") Run query

    md-card-content
        md-input-container(class="md-block")
            textarea

    md-card-actions(layout="row", layout-align="end center")
        md-button(class="md-button", aria-label="Favorite") Run