doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //- Angular Material style sheet
        link(rel="stylesheet", href="/angular-material/angular-material.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="styleSheet", href="/css/style.css")

    body(ng-cloak, ng-app="mongomin.starter", layout="row")

        //- Sidebar
        md-sidenav(class="md-sidenav-left mm-sidenav md-whiteframe-z1", md-component-id="leftmenu", md-is-locked-open="$mdMedia('gt-md')", role="navigation")
            header(class="nav-header")
                h1(layout="row", layout-align="center center") mongomin
                p
                    small(layout="row", layout-align="center center") Developed with&nbsp;<i class="material-icons" style="font-size:15px;">favorite</i>&nbsp;in India
                md-toolbar(ng-controller="SideToolbarCtrl", class="md-whiteframe-glow-z1")
                    div(class="md-toolbar-tools")
                        span(flex)
                        md-button(class="md-icon-button", ng-repeat="tool in sidebarTools" aria-label="tool.label")
                            md-icon(class="material-icons md-24 md-light", ng-class="active", ng-mouseover="active='md-active'", ng-mouseout="active=''", ng-click="this[tool.clickAction]()") {{tool.icon}}

            md-content(class="_md flex")
                md-list(ng-controller="DBListCtrl", ng-cloak)
                    md-subheader(class="md-no-sticky md-primary") Available Databases:
                    ul(class="side-menu-db-list")
                        li(ng-repeat="db in databases")
                            a(ng-href="#/db/{{db.name}}")
                                p {{db.name}}
                                    span(class="pull-right") {{(db.sizeOnDisk/1000000).toFixed(2)}} Kb


        div(layout="column", flex="", role="main")

            md-toolbar(ng-controller="ToolbarCtrl", class="md-whiteframe-glow-z1")
                div(class="md-toolbar-tools")
                    md-button(class="md-icon-button", aria-label="Settings", ng-click="toggleSidebar()", hide-gt-md)
                        md-icon(class="material-icons md-24 md-light", ng-mouseover="active='md-active'", ng-mouseout="active=''", ng-class="active") menu
                    h2
                        span Toolbar with Disabled/Enabled Icon Buttons

                    span(flex)
                    md-button(class="md-icon-button", aria-label="Favorite")
                        md-icon(class="material-icons md-24 md-light", ng-mouseover="active='md-active'", ng-mouseout="active=''", ng-class="active") favorite
                    md-button(class="md-icon-button", aria-label="More")
                        md-icon(class="material-icons md-24 md-light", ng-mouseover="active='md-active'", ng-mouseout="active=''", ng-class="active") more_vert

            section(layout="row", flex)

                //- Body content
                md-content(flex)

                    div(layout="column", layout-fill)
                        div(ng-view)

                    div(flex)
                    div(layout="column", layout-fill, layout-align="bottom center")
                        p(class="center") Developed with&nbsp;<i class="material-icons" style="font-size:15px;">favorite</i>&nbsp;in India.<br/>mongomin &copy;2016

        //- Angular Material requires Angular.js Libraries -->
        script(src="/angular/angular.min.js")
        script(src="/angular-animate/angular-animate.min.js")
        script(src="/angular-aria/angular-aria.min.js")
        script(src="/angular-messages/angular-messages.min.js")
        script(src="/angular-route/angular-route.min.js")

        //- Angular Material Library
        script(src="/angular-material/angular-material.min.js")
        script(src="/js/app.js")
        script(src="/js/controllers.js")
        script(src="/js/services.js")
        script(src="/js/directives.js")